* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


// STATIC
.disable-user-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}


// NAVBAR
nav#navbar {
    display: block;
    position: absolute;
    top: 50vh;
    left: 0;
    background: transparent;
    width: 100%;
    height: 65px;
    z-index: 99;

    transition: background 0.8s;
    -o-transition: background 0.8s;
    -moz-transition: background 0.8s;
    -webkit-transition: background 0.8s;

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .nav-title-container {
            flex: 3;
            margin-left: 10px;
            transform: translateX(10vw);
            -o-transform: translateX(10vw);
            -ms-transform: translateX(10vw);
            -moz-transform: translateX(10vw);
            -webkit-transform: translateX(10vw);
            font-weight: lighter;
            color: white;

            transition: color 0.8s, transform 1s;
            -o-transition: color 0.8s, transform 1s;
            -moz-transition: color 0.8s, transform 1s;
            -webkit-transition: color 0.8s, transform 1s;

            .title {
                display: block;
                font-size: 5vw;
                transition: font-size 1s;
                -o-transition: font-size 1s;
                -moz-transition: font-size 1s;
                -webkit-transition: font-size 1s;
            }

            .subtitle {
                display: block;
                font-size: 4vw;
                transform: translateX(15%);
                -o-transform: translateX(15%);
                -ms-transform: translateX(15%);
                -moz-transform: translateX(15%);
                -webkit-transform: translateX(15%);
                transition: transform 1s, font-size 1s;
                -o-transition: transform 1s, font-size 1s;
                -moz-transition: transform 1s,  font-size 1s;
                -webkit-transition: transform 1s, font-size 1s;
            }

            span {
                opacity: 0;
                transition: opacity 1.5s;
                -o-transition: opacity 1.5s;
                -moz-transition: opacity 1.5s;
                -webkit-transition: opacity 1.5s;
            }
        }

        .nav-ar-button-container {
            flex: 1;
            text-align: center;
            overflow: hidden;

            .nav-ar-button {
                display: inline-block;
                width: 30px;
                height: auto;
                transform: translateX(100vw);
                -o-transform: translateX(100vw);
                -ms-transform: translateX(100vw);
                -moz-transform: translateX(100vw);
                -webkit-transform: translateX(100vw);
                transition: width 0.2s, transform 3.5s;
                -o-transition: width 0.2s, transform 3.5s;
                -moz-transition: width 0.2s, transform 3.5s;
                -webkit-transition: width 0.2s, transform 3.5s;

                cursor: pointer;

                &:hover {
                    width: 35px;
                }
            }
        }
    }

    &.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        background: white;

        .nav-container {
            .nav-title-container {
                position: unset;
                color: black;
                transform: translateX(0);
                -o-transform: translateX(0);
                -ms-transform: translateX(0);
                -moz-transform: translateX(0);
                -webkit-transform: translateX(0);

                transition: color 1.3s 0.5s, transform 1s;
                -o-transition: color 1.3s 0.5s, transform 1s;
                -moz-transition: color 1.3s 0.5s, transform 1s;
                -webkit-transition: color 1.3s 0.5s, transform 1s;

                cursor: pointer;

                .title {
                    font-size: 18px;
                }

                .subtitle {
                    font-size: 18px;
                    transform: translateX(0);
                    -o-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -webkit-transform: translateX(0);
                }
            }

            .nav-ar-button-container > a > .nav-ar-button {
                transition: width 0.2s, transform 1s;
                -o-transition: width 0.2, transform 1s;
                -moz-transition: width 0.2s, transform 1s;
                -webkit-transition: width 0.2s, transform 1s;
                transform: translateX(0);
                -o-transform: translateX(0);
                -ms-transform: translateX(0);
                -moz-transform: translateX(0);
                -webkit-transform: translateX(0);
            }
        }
    }
}


// MAIN
#main {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 0;

    .section-container {
        background: black;
        color: white;
        padding-top: 200px;
        text-align: center;
    }

    .section-container-headline {
        font-size: 250%;
    }

    @keyframes slide-left-fade {
        from {
            transform: translateX(100vw);
            -o-transform: translateX(100vw);
            -ms-transform: translateX(100vw);
            -moz-transform: translateX(100vw);
            -webkit-transform: translateX(100vw);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            -o-transform: translateX(100vw);
            -ms-transform: translateX(100vw);
            -moz-transform: translateX(100vw);
            -webkit-transform: translateX(100vw);
            opacity: 1;
        }
    }

    .once-animated {
        animation: slide-left-fade 0.6s ease;
        -webkit-animation: slide-left-fade 0.6s ease;
        -o-animation: slide-left-fade 0.6s ease;
        -moz-animation: slide-left-fade 0.6s ease;
    }

    .once-animation {
        opacity: 0;
    }

    .first-section-container {
        display: block;
        height: 100vh;
        position: relative;
        overflow: hidden;
        box-shadow: inset 0 -100px 100px -10px black;
        
        @keyframes spin {
            from {
                transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
                -o-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes blur-in {
            from {
                filter: blur(2px) brightness(0.8);
                -webkit-filter: blur(2px) brightness(0.8);
            }
            to {
                filter: blur(0px) brightness(0.4);
                -webkit-filter: blur(0px) brightness(0.4);
            }
        }

        &::before {
            content: "";
            display: block;
            position: relative;
            top: -100%;
            left: -100%;
            width: 300%;
            height: 300%;
            filter: brightness(0.4);
            -webkit-filter: brightness(0.4);
            background: url("../img/space.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            animation: spin 360s linear infinite, blur-in 4s;
            -webkit-animation: spin 360s linear infinite, blur-in 4s;
            -o-animation: spin 360s linear infinite, blur-in 4s;
            -moz-animation: spin 360s linear infinite, blur-in 4s;
            z-index: -1;
        }
    }

    .second-section-container {
        .info-container {
            margin: 0 60px;

            .info-text-container {
                display: flex;
                flex-direction: row;
                margin-top: 50px;

                .info-text {
                    flex: 2;
                    margin: auto;
                    text-align: left;
                    h1 {
                        font-size: 150%;
                    }
                    p {
                        font-size: 130%;
                    }
                }

                .info-img {
                    flex: 1;
                    img {
                        width: 13vw;
                        height: auto,
                    }
                }
            }
        }
    }

    .content-container {
        margin: 0 20px;

        .content {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            text-align: left;
    
            a {
                flex: 1;
                margin: auto;

                .content-img {
                    width: 70%;
                    height: auto;
                }
            }
    
            .content-text {
                flex: 1;
                margin: auto;
                font-size: 80%;
            }
        }
    }
}



// AR
body#ar {
    overflow: hidden;
}

a#torch {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    
    img {
        width: 35px;
        height: auto;
    }
}
